:root {
    --SiteBlue: #1B4D89;
    --SiteYellow: #F9E45B;
    --SiteGreen: #6DB784;
    --SiteWhite: #FFFFFF;
    --SiteSageGreen: #98D6D3;
  }

.color-nav {
  background-color: var(--SiteBlue);
}
  
.navbar {
  display: flex;
  align-items: center;
  margin: 0 auto;
  background-color: var(--SiteBlue);
  overflow: hidden;
    
}  
.nav-links {
  display: inline;
  padding-right: 30px;
  background-color: var(--SiteBlue);
}

.m-2 {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  background-color: var(--SiteBlue);

}

div.navbar.container {
  background-color: var(--SiteBlue);
  padding: 0;
}

a.m-2 {
  color: var(--SiteWhite);
}
  