:root {
    --SiteBlue: #1B4D89;
    --SiteYellow: #F9E45B;
    --SiteGreen: #6DB784;
    --SiteWhite: #FFFFFF;
    --SiteSageGreen: #98D6D3;
  }

* {
    margin: 0;
    padding: 0;
}

.navig-style {
    display: flex;
    align-items: flex-end;
}

.navLinks {
    color: white;
    text-decoration: none;
    font-size: 1.5em;
}

a.navLinks {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navLinks:hover {
  color: var(--SiteYellow); /*will change color of text within the element on hover */
} 

.navbar-nav {
    justify-content: space-around;
    color: white;
}

.navbar-brand {
    font-weight: bold;
    color: white;
}

a {
    color: var(--SiteYellow); /*will change color of text within the element on hover */

}